@charset "utf-8";
.pcbr{display:block;}
.tbbr{display:none;}
.mbbr{display:none;}

.pcv{display:block !important;}
.tmv{display:none !important;}
.dn{display:none;}
body{background:#f3f3f3;}

.btn_top{
	position:fixed;right:1%;bottom:3%;z-index:1000;
	background:#222;
	border-radius:50%;
	cursor:pointer;
	opacity:0;transition:all 0.6s;
}
.btn_top.on{opacity:1;}

/*header*/
#header{
	position:fixed;left:5%;top:50px;z-index:1000;
	box-sizing:border-box;
	width:90%;height:100px;
	background:#fff;
	box-shadow:3px 3px 5px rgba(0,0,0,0.4);
	border-radius:10px;transition:all 0.4s;
}
#header.act{width:100%;left:0;top:0;}
#header.onsub{border-radius:10px 10px 0 0}
.head{
	display:flex;align-items:center;justify-content:space-between;
	box-sizing:border-box;
	width:100%;height:100%;
	padding:0 50px;
}
.head h1{width:134px;}
.head .pc_nav{
	display:flex;align-items:center;justify-content:center;box-sizing:border-box;
	width:calc(100% - 134px - 365px);
	padding-left:100px;
}
.head .pc_nav>li{margin:0 48px;}
.head .pc_nav>li>a{
	display:block;
	position:relative;
	font-family:"Rubik";font-size:20px;color:#222;font-weight:600;line-height:100px;
}
.head .pc_nav>li>a:after{
	display:block;content:"";
	width:100%;height:5px;
	background:#ffca2a;
	position:absolute;left:0;top:50%;z-index:-1;margin-top:5px;
	transform-origin:center;transform:scaleX(0);transition:all 0.4s;
}
.head .pc_nav>li.on>a:after{transform:scaleX(1);}
.head .gnb{display:flex;align-items:center;justify-content:flex-end;width:365px;}
.head .gnb .tnav{display:flex;align-items:center;}
.head .gnb .tnav>li{position:relative;margin-right:7px;padding-right:8px;}
.head .gnb .tnav>li:after{
	display:block;
	content:"";
	width:1px;
	height:8px;
	background:#ccc;
	position:absolute;
	right:0;
	top: 3px;
}
.head .gnb .tnav>li>a{
	position:relative;
	font-family:"Montserrat";
	font-size:12px;
	color:#888;
	display: block;
}
.head .gnb .tnav>li.lang{}
.head .gnb .tnav>li.lang:after{display:none;}
.head .gnb .tnav>li.lang>a{
	display:block;
	padding-right:13px;
}
.head .gnb .tnav>li.lang>a:after{
	display:block;content:"";
	width:4px;height:4px;
	border-right:1px solid #888;border-bottom:1px solid #888;
	transform:rotate(45deg);
	position:absolute;right:0;top:3px;
}
.head .gnb .tnav>li.lang>ul{
	display:none;
	position:absolute;left:0%;top:100%;
	width:calc(100% - 13px);
	background:#222;text-align:center;
	margin:4px 0 0 -8px;padding:5px;
	border-radius:5px;
}
.head .gnb .tnav>li.lang>ul>li{}
.head .gnb .tnav>li.lang>ul>li>a{font-family:"Montserrat";font-size:12px;color:#ffca2a;}

.head .gnb .sns{display:flex;align-items:center;}
.head .gnb .sns li{margin-left:5px;}
/*.head .gnb .sns li:last-child{margin-left:10px;}*/
.head .gnb .sns li a{
	display:block;
	width:40px;height:40px;
	background:#000;border-radius:50%;
}


@media(max-width:1560px){
	.head .pc_nav>li{margin:0 28px;}
}

.allmenu{display:none !important;}
.submenu{
	display:none;
	box-sizing:border-box;
	position:absolute;left:0;top:100%;
	width:100%;height:75px;
	background:#fff;
	border-radius:0 0 10px 10px;
}
.submenu ul{
	display:none;
	box-sizing:border-box;width:100%;
	padding:25px 50px;
	text-align:center;
	border-top:1px solid rgba(0,0,0,0.1);
}
.submenu ul li{
	display:inline-block;
	margin:0 25px;
}
.submenu ul li a{font-size:17px;color:#222;}
.submenu ul li a:hover{color:#ffca2a;}



/* visual */
#visual{
	position:relative;
	box-sizing:border-box;
	width:100%;
	min-height: 600px;
	height:100vh;
	padding:10px;
}
.visual{width:100%;height:100%;border-radius:10px;}
.visual .swiper-slide{overflow:hidden;position:relative;}
.visual .swiper-slide>a{display:flex;align-items:center;width:100%;height:100%;}
.visual .swiper-slide .bg{
	position:absolute;left:0;top:0;z-index:-1;
	width:100%;height:100%;transform:scale(1);transition:all 2s 1s;
}
.visual .txtswrap{
	position:absolute;
	right:0;
	top:50%;
	z-index:10;
	box-sizing:border-box;
	padding: 0 8.8%;
	transform:translateY(-50%);
}
.visual .txtswrap h2{
	position: relative;
	min-width:715px;
	font-family:"Montserrat";
	font-size:74px;
	font-weight:900;
	line-height:100%;
	font-style:italic;
}
.visual .txtswrap h2 div{width:100%;}
.visual .txtswrap h2 svg{width:100%;overflow:inherit;}
.visual .txtswrap h2>div{
	background: linear-gradient(#ffffff 48%, #f8d724 52%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;padding-right:8px;
}
.visual .vprev{
	width:60px;height:60px;
	background:url(/images/main/vprev.png) no-repeat;
	position:absolute;left:4%;top:50%;z-index:10;transform:translateY(-50%);cursor:pointer;
}
.visual .vnext{
	width:60px;height:60px;
	background:url(/images/main/vnext.png) no-repeat;
	position:absolute;right:4%;top:50%;z-index:10;transform:translateY(-50%);cursor:pointer;
}

.visual .video{position: relative;width: 100%;height: 100%;box-sizing: border-box;}
.visual .video iframe{width: 100%;height: 100%;box-sizing: border-box;}

.title1{font-family:"Montserrat";font-size:67px;color:#000;font-weight:800;text-align:center;}


#btn-play{width:100px;height:100px;background: rgba(255,255,255,0.1);position:absolute;top:50%;left: 50%;cursor:pointer; z-index:100;}

/* section1 */
.section1{padding:100px 0;}
.section1 .conwrap{
	max-width:1580px;width:94%;
	margin:70px auto 0;
}
.section1 .conwrap ul{display:flex;flex-wrap:wrap;justify-content:space-between;}
.section1 .conwrap ul li{
	overflow:hidden;
	width:24.25%;
	position:relative;
	border-radius:10px;margin-bottom:15px;
}
.section1 .conwrap ul li .thumb{}
.section1 .conwrap ul li .down_layer{
	position:absolute;left:0;top:0;z-index:10;
	background:rgba(0,0,0,0.85);
	width:100%;height:100%;
	transform-origin:center;
	transform:scale(0);transition:all 0.4s;
}
.section1 .conwrap ul li:hover .down_layer{transform:scale(1);}
.section1 .conwrap ul li .down_layer>div{
	display:flex;justify-content:center;align-items:center;
	width:100%;height:100%;text-align:center;
}
.section1 .conwrap ul li .down_layer h4{font-family:"Rubik";font-size:24px;color:#fff;font-weight:500;}
.section1 .conwrap ul li .down_layer p{margin:10px 0 20px;font-size:16px;color:#fff;}
.section1 .conwrap ul li .down_layer ul{display:inline-flex;justify-content:center;}
.section1 .conwrap ul li .down_layer ul li{margin:0 8px;width:40px;height:40px;}
.section1 .conwrap ul li .down_layer ul li a{
	display:block;
	border-radius:50%;
	
	background:#f8d724;
}
.section1 .conwrap ul li .down_layer ul li a img{}




/* section2 */
.section2{
	overflow:hidden;
	padding:10px;
}
.section2 .innerwrap{
	position:relative;
	width:100%;
	padding:140px 0;
	background:url(/images/main/sec2_bg0.gif) repeat;
	border-radius:10px;text-align:center;
}
.section2 .innerwrap .bg1{
	width:300px;height:300px;
	background:url(/images/main/sec2_bg1.png) no-repeat;
	position:absolute;left:4%;top:20%;
}
.section2 .innerwrap .bg2{
	width:261px;height:261px;
	background:url(/images/main/sec2_bg2.png) no-repeat;
	position:absolute;right:6%;bottom:15%;
}
.section2 .innerwrap .conwrap{
	position:relative;z-index:10;
	max-width:1580px;width:94%;
	margin:0 auto;
}
.section2 .innerwrap .conwrap h3.title1{color:#fff;}
.section2 .innerwrap .conwrap p{margin:5px 0 0;font-family:"Montserrat";font-size:23px;color:#fff;font-weight:500;text-align:center;}
.section2 .innerwrap .conwrap>ul{display:flex;justify-content:space-between;margin:75px 0 0;}
.section2 .innerwrap .conwrap>ul>li{
	width:23.25%;
	background:#f7f7f7;
	border-radius:25px;
	padding:40px 0;
	box-shadow:3px 3px 8px rgba(0,0,0,0.4);
	word-break:keep-all;
}
.section2 .innerwrap .conwrap>ul>li .ico{}
.section2 .innerwrap .conwrap>ul>li h4{
	margin:20px 0 30px;
	font-family:"Montserrat";font-size:25px;color:#222;font-weight:700;letter-spacing:-0.0125em;
}
.section2 .innerwrap .conwrap>ul>li .con{box-sizing:border-box;width:100%;padding:0 40px;}
.section2 .innerwrap .conwrap>ul>li .con dl.st1{margin-bottom:30px;}
.section2 .innerwrap .conwrap>ul>li .con dl.st1:last-child{margin-bottom:0;}
.section2 .innerwrap .conwrap>ul>li .con dl.st1 dt{margin-bottom:8px;font-size:19px;color:#222;font-weight:600;}
.section2 .innerwrap .conwrap>ul>li .con dl.st1 dd{margin-bottom:8px;font-size:16px;color:#666;font-weight:400;}
.section2 .innerwrap .conwrap>ul>li .con dl.st1 dd:last-child{margin-bottom:0;}
.section2 .innerwrap .conwrap>ul>li .con ul{display:flex;flex-wrap:wrap;justify-content:space-around;}
.section2 .innerwrap .conwrap>ul>li .con ul li{width:50%;}
.section2 .innerwrap .conwrap>ul>li .con ul li:nth-child(1),
.section2 .innerwrap .conwrap>ul>li .con ul li:nth-child(2){margin-bottom:20px;}
.section2 .innerwrap .conwrap>ul>li .con ul li .thumb{}
.section2 .innerwrap .conwrap>ul>li .con ul li .tit{margin-top:8px;font-size:16px;color:#666;font-weight:400;line-height:140%;}
.section2 .innerwrap .conwrap>ul>li .con dl.st2{margin-bottom:25px;}
.section2 .innerwrap .conwrap>ul>li .con dl.st2:last-child{margin-bottom:0;}
.section2 .innerwrap .conwrap>ul>li .con dl.st2 dt{margin-bottom:15px;font-size:19px;color:#222;font-weight:600;}
.section2 .innerwrap .conwrap>ul>li .con dl.st2 dd{}
.section2 .innerwrap .conwrap>ul>li .con dl.st2 dd:last-child{margin-bottom:0;}
.section2 .innerwrap .conwrap>ul>li .con dl.st3{margin-bottom:35px;}
.section2 .innerwrap .conwrap>ul>li .con dl.st3:last-child{margin-bottom:0;}
.section2 .innerwrap .conwrap>ul>li .con dl.st3 dt{margin-bottom:35px;font-size:19px;color:#222;font-weight:600;}
.section2 .innerwrap .conwrap>ul>li .con dl.st3 dd{margin-bottom:35px;font-size:16px;color:#666;font-weight:400;}
.section2 .innerwrap .conwrap>ul>li .con dl.st3 dd .logos{margin-top:15px;display: flex;flex-wrap: wrap;align-items: center;justify-content: center;}
.section2 .innerwrap .conwrap>ul>li .con dl.st3 dd .logos img{vertical-align:top;margin: 0 8px;}
.section2 .innerwrap .conwrap>ul>li .con dl.st3 dd:last-child{margin-bottom:0;}





/* section3 */
.section3{
	overflow:hidden;
	padding:0 10px;
}
.section3 .innerwrap{
	display:flex;justify-content:space-between;
	text-align:left;
}
.section3 .innerwrap .titlearea{display:flex;justify-content:space-between;align-items:flex-end;margin-bottom:30px;}
.section3 .innerwrap .titlearea h3{text-align:left;line-height:100%;}
.section3 .innerwrap .titlearea .more{
	display:block;
	width:42px;height:42px;
	background:#282828;
	position:relative;margin-bottom:5px;
	border-radius:50%;text-indent:-9999px;
}
.section3 .innerwrap .titlearea .more:before{
	display:block;content:"";
	width:15px;height:3px;
	background:#f8d724;border-radius:2px;
	position:absolute;left:13px;top:19px;
}
.section3 .innerwrap .titlearea .more:after{
	display:block;content:"";
	width:3px;height:15px;
	background:#f8d724;border-radius:2px;
	position:absolute;left:19px;top:13px;
}
.section3 .innerwrap .news{
	box-sizing:border-box;
	width:calc(60% - 5px);
	padding:90px;
	background:#dbdbdb;
	border-radius:10px;
}
.section3 .innerwrap .news .listarea{}
.section3 .innerwrap .news .listarea ul{}
.section3 .innerwrap .news .listarea ul li{
	box-sizing:border-box;
	width:100%;height:124px;
	margin-bottom:10px;border-radius:15px;
	background:#fff;
	border:1px solid #ddd;
}
.section3 .innerwrap .news .listarea ul li:last-child{margin-bottom:0;}
.section3 .innerwrap .news .listarea ul li a{
	display:flex;align-items:center;
	width:100%;height:100%;
}
.section3 .innerwrap .news .listarea ul li a .date{width:130px;font-family:"Montserrat";text-align:center;}
.section3 .innerwrap .news .listarea ul li a .date .day{font-size:45px;color:#222;font-weight:700;line-height:100%;}
.section3 .innerwrap .news .listarea ul li a .date .ym{font-size:14px;color:#222;font-weight:600;}
.section3 .innerwrap .news .listarea ul li a .txts{
	box-sizing:border-box;
	width:calc(100% - 130px);
	padding:0 10% 0 0;
}
.section3 .innerwrap .news .listarea ul li a .txts .tit{
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal;
	overflow:hidden;
	font-size:21px;color:#222;font-weight:600;
	margin-bottom:8px;
}
.section3 .innerwrap .news .listarea ul li a .txts .txt{
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal;
	overflow:hidden;
	font-size:17px;color:#666;font-weight:400;
}

.section3 .innerwrap .ir{
	box-sizing:border-box;
	width:calc(40% - 5px);
	padding:90px;
	background:#f8d724 url(/images/main/sec3_ir_bg0.png) no-repeat center bottom;
	background-size:cover;
	border-radius:10px;
}
.section3 .innerwrap .ir .infoarea{
	box-sizing:border-box;
	display:flex;align-items:center;
	width:100%;height:392px;
	margin-bottom:10px;border-radius:15px;
	padding:48px;
	background:#fff;
}
.section3 .innerwrap .ir .infoarea .ico{
	display:flex;align-items:center;justify-content:center;
	width:170px;height:194px;
	background:url(/images/main/sec3_ir_bg1.png) no-repeat;
}
.section3 .innerwrap .ir .infoarea .ico .img{position:relative;width:66px;height:45px;padding-top:22px;}
.section3 .innerwrap .ir .infoarea .ico .img .arr{
	width:64px;height:37px;
	background:url(/images/main/sec3_arr1.png) no-repeat right top;
	position:absolute;left:0;top:0;
}
.section3 .innerwrap .ir .infoarea .ico .img .box{display:flex;justify-content:space-around;align-items:flex-end;}
.section3 .innerwrap .ir .infoarea .ico .img .box>div:nth-child(1){
	width:6px;height:6px;
	border:5px solid #656565;border-radius:2px;
}
.section3 .innerwrap .ir .infoarea .ico .img .box>div:nth-child(2){
	width:6px;height:20px;	
	border:5px solid #919191;border-radius:2px;
}
.section3 .innerwrap .ir .infoarea .ico .img .box>div:nth-child(3){
	width:6px;height:35px;
	border:5px solid #a7a7a7;border-radius:2px;
}

.section3 .innerwrap .ir .infoarea .info{
	box-sizing:border-box;
	width:calc(100% - 170px);
	padding:0 0 0 45px;
}
.section3 .innerwrap .ir .infoarea .info dl{
	display:flex;align-items:center;
	margin-bottom:25px;
}
.section3 .innerwrap .ir .infoarea .info dl:last-child{margin-bottom:0;}
.section3 .innerwrap .ir .infoarea .info dl dt{
	position:relative;
	width:86px;
	font-size:18px;color:#222;font-weight:500;line-height:100%;
}
.section3 .innerwrap .ir .infoarea .info dl dt:after{
	display:block;content:"";
	width:1px;height:15px;
	background:#ccc;
	position:absolute;right:0;top:3px;
}
.section3 .innerwrap .ir .infoarea .info dl dd{
	width:calc(100% - 86px);
	box-sizing:border-box;
	padding:0 0 0 20px;margin-top:5px;
	font-family:"Montserrat";font-size:18px;color:#666;font-weight:500;line-height:100%;
}
.section3 .innerwrap .ir .infoarea .info .today{font-size:40px;font-weight:700;margin-top:-10px;}
.section3 .innerwrap .ir .infoarea .info .up{color:#d20000;}
.section3 .innerwrap .ir .infoarea .info .down{color:#003cff;}



@media(max-width:1750px){
	.section3 .innerwrap .ir .infoarea .ico{display:none;}
}
@media(max-width:1530px){
	.section3 .innerwrap .ir .infoarea {
		padding:48px 24px;
	}
}



/* section4 */
.section4{
	overflow:hidden;
	padding:10px;
}
.section4 .innerwrap{
	display:flex;align-items:center;
	background:#282828 url(/images/main/sec4_bg.png) no-repeat center bottom;
	background-size:contain;
	border-radius:10px;
	height:520px;
	text-align:center;
}
.section4 .innerwrap>div{width:100%;}
.section4 .innerwrap>div h3{font-family:"Montserrat";font-size:20px;color:#fff;font-weight:700;}
.section4 .innerwrap>div h3 span{border-bottom:2px solid rgba(255,255,255,0.8);}
.section4 .innerwrap>div h4{margin:20px 0 25px;font-size:46px;color:#fff;font-weight:600;}
.section4 .innerwrap>div p{margin:0 0 45px;font-size:21px;color:rgba(255,255,255,0.8);}
.section4 .innerwrap>div a{
	display:inline-block;
	box-sizing:border-box;position:relative;
	width:240px;height:60px;
	padding:0 20px 0 0;
	background:#f8d724;
	border-radius:30px;
	font-size:16px;color:#282828;font-weight:600;line-height:60px;
	box-shadow:2px 2px 5px rgba(0,0,0,0.2);
}
.section4 .innerwrap>div a .more{
	position:relative;
	width:40px;height:40px;
	background:#282828;
	border-radius:50%;
	position:absolute;right:10px;top:10px;
}
.section4 .innerwrap>div a .more:before{
	display:block;content:"";
	width:15px;height:3px;
	background:#fff;border-radius:2px;
	position:absolute;left:13px;top:19px;
}
.section4 .innerwrap>div a .more:after{
	display:block;content:"";
	width:3px;height:15px;
	background:#fff;border-radius:2px;
	position:absolute;left:19px;top:13px;
}





/* footer */
#footer{background:#111;}
.foot{	
	display:flex;align-items:center;
	position:relative;
	padding:35px 4.25%;
}
.foot h1{}
.foot .links{
	display:flex;align-items:center;flex-direction:row-reverse;
	position:absolute;right:4.25%;top:35px;
}
.foot .links .sns{display:flex;align-items:center;}
.foot .links .sns li{margin-left:5px;}
.foot .links .family{position:relative;margin-right:5px;}
.foot .links .family>a{
	display:block;
	position:relative;box-sizing:border-box;
	width:200px;height:50px;
	padding:0 25px;
	border:1px solid #666;border-radius:25px;
	font-size:17px;color:#666;text-align:left;line-height:48px;
}
.foot .links .family>a:after{
	display:block;content:"";
	width:7px;height:7px;
	border-right:2px solid #666;border-bottom:2px solid #666;
	position:absolute;right:25px;top:18px;
	transform:rotate(45deg);
}
.foot .links .family>ul{
	display:none;
	position:absolute;left:0;bottom:100%;margin-bottom:10px;
	width:100%;
	border:1px solid #444;border-radius:25px;
	background:#111;
	padding:15px 0;
}
.foot .links .family>ul>li{}
.foot .links .family>ul>li>a{
	display:block;
	position:relative;box-sizing:border-box;
	width:200px;
	padding:0 25px;
	font-size:15px;color:#666;text-align:left;line-height:35px;
}
.foot .copy{margin-left:40px;font-size:17px;color:#666;}



